langchain
langchain-community
langchain_chroma
langchain-core
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-ollama
uvicorn
fastapi
python-multipart
groq
langchain-groq
python-dotenv
langchain_huggingface
dotenv
